[2015-10-01 22:03] sheadarlison opened #74 "Duration does not stay saved"
To reproduce set duration on a widget, click save, exit editor, reopen editor and go to the widget. Duration will be back at 0.

Expected Results
Duration should stay at the selected amount.

![editor-duration-bug](https://cloud.githubusercontent.com/assets/9273546/10234997/79fd5cd0-6866-11e5-899e-3b156436413d.gif)

[2015-10-01 22:12] sheadarlison opened #75 "Placeholder background should be set as transparent"
Steps to reproduce:
Add placeholder in new editor

Result:
Background set to solid white

How it should work:
Background set to transparent or none

Link to Presentation:
Any presentation will have this.

OS:
Mac Yosemite 10.5

Chrome Ver:
45

![screen shot 2015-10-01 at 6 11 29 pm](https://cloud.githubusercontent.com/assets/9273546/10235145/df3d101c-6867-11e5-85bc-9a06e7f6c1c8.png)
![screen shot

[2015-10-01 22:15] sheadarlison opened #76 "Duration box isn't large enough to see more than one number"
Steps to reproduce:
Open a playlist item in new editor

Result:
Duration box only shows 1 number

How it should work:
Duration box shows three digits

Link to Presentation:
https://editor.risevision.com/#/editor/workspace/10ea30a8-c243-412e-9845-49795c98815b/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

OS:
Mac Yosemite 10.5

Chrome Ver:
45

![screen shot 2015-10-01 at 6 13 57 pm](https://cloud.githu

[2015-10-02 17:46] ghislaineguerin commented on #75
@ezequielc @sheadarlison
It makes sense that placeholders are set to transparent by default.

[2015-10-02 18:31] ezequielc commented on #74
@sheadarlison Fixed. Thanks for reporting.

[2015-10-02 18:31] #74 closed

[2015-10-02 18:52] ezequielc commented on #76
Thanks @sheadarlison . Fixed.

[2015-10-02 18:52] #76 closed

[2015-10-02 20:31] sheadarlison opened #80 "Timeline doesn't stay saved"
Steps to reproduce:
Add placeholder in new editor

Result:
Timeline set to always. But in RVA timeline is unchecked and when you preview the screen is blank.

How it should work:
Timeline in RVA is also always, preview works.

Link to Presentation:
Any presentation will have this.

OS:
Mac Yosemite 10.5

Chrome Ver:
45

![timeline always](https://cloud.githubusercontent.com/assets/9273546/10257045

[2015-10-02 20:38] sheadarlison opened #81 "Presentations built in new editor will not preview"
Steps to reproduce:
Add placeholder in new editor, add content, save, attempt to preview

Result:
Preview will be white

How it should work:
Preview should work.

Link to Presentation:
https://editor.risevision.com/#/editor/workspace/16dc67d3-3a8b-485b-9584-fab07e9da5b4/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

OS:
Mac Yosemite 10.5

Chrome Ver:
45

![preview-does-not-work-2](https://cloud.github

[2015-10-05 15:13] ezequielc commented on #75
Fixed. Thanks @sheadarlison and @ghislaineguerin

[2015-10-05 15:13] #75 closed

[2015-10-05 17:38] ezequielc commented on #81
Fixed. Thanks @sheadarlison

[2015-10-05 17:38] #81 closed

[2015-10-05 17:55] #80 closed

[2015-10-05 18:48] sheadarlison opened #86 "Widget doesn't appear on artboard, appears in preview and sidebar"
Steps to reproduce:
Add two widgets to editor, add third widget (countdown widget from computer aid) save and preview.

Result:
Preview shows content, editor sidebar shows widget, artboard doesn't show it.

How it should work:
The widget should appear everywhere.

Link to Presentation:
https://editor.risevision.com/#/editor/workspace/1854a505-8610-4b8a-bf39-d982c3c30b23/?cid=f114ad26-949d-44b4-87e

[2015-10-05 18:50] sheadarlison opened #87 "Widget looks like it does not fit the artboard"
Steps to reproduce:
Set presentation size to 1920x1080 add widget to editor with dimensions Height: 1080, Width: 960, Left: 960, Top: 0

Result:
Widget looks like it will be cutoff.

How it should work:
The widget should should fit the white part.

Link to Presentation:
https://editor.risevision.com/#/editor/workspace/1854a505-8610-4b8a-bf39-d982c3c30b23/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

[2015-10-05 19:00] sheadarlison opened #88 "Preview does not show latest widget settings."
I'm not sure if this is an editor problem, or a Countdown Widget problem.

Steps to reproduce:
Set font size to anything, click save, click apply, click save, click preview.

Result:
Change is not reflected.

How it should work:
The font size should change

Link to Presentation:
https://editor.risevision.com/#/editor/workspace/1854a505-8610-4b8a-bf39-d982c3c30b23/?cid=f114ad26-949d-44b4-87e9-8528a

[2015-10-05 19:04] sheadarlison commented on #88
I believe this is an editor issue. I tested with the text widget and had the same issue.

![font-size-change](https://cloud.githubusercontent.com/assets/9273546/10290472/549d9d06-6b72-11e5-91bd-abd53678fb4d.gif)

[2015-10-05 21:21] ezequielc commented on #88
I couldn't reproduce exactly like described, but I found the same issue when modifying widgets just after saving the presentation. Any changes made were not saved or previewed. I supposed the issues are related.

[2015-10-05 21:27] sheadarlison commented on #88
@ezequielc I think they would be, I'll keep playing around with it. Maybe it was just a glitch.

[2015-10-06 17:22] ezequielc commented on #88
Fixed. Thanks again @sheadarlison

[2015-10-06 17:22] #88 closed

[2015-10-06 17:24] ezequielc commented on #86
@sheadarlison The root cause is the same as issue #88 . It is fixed now. Thanks

[2015-10-06 17:24] #86 closed

[2015-10-06 19:29] #87 closed

[2015-10-07 14:05] robb-price opened #92 "You can't add Free or Premium Template Presentations using the new Editor"
<b>How it works now:</b>
Go to the new Editor, try to add a Free or Premium Template. Notice that pressing Add does nothing. If you do this in the older Editor, Premium templates will bring up the Store so you can add it to your cart and purchase, while free templates will open in the editor when you press Add.

For further clarification: https://goo.gl/NnpqC8

<b>How it should work:</b>
Clicking

[2015-10-07 14:37] RV-Adrian commented on #92
@robb-price Addendum to this, from the Store POV: http://goo.gl/XCUCc6
Will make this a separate task from this issue since it's focusing on Editor.

[2015-10-07 14:45] alex-deaconu commented on #92
@robb-price @RV-Adrian to clarify, paid templates have not yet been implemented in the Editor (or RVA for that matter). The process so far is only designed for Free templates.

With regard to the issue at hand, not being able to add the Template, we're currently pursuing a fix for this in the Core.

Thanks.

[2015-10-07 17:55] sheadarlison opened #93 "PUD Functionality not working with Video Folder Widget"
Original presentation: http://rva.risevision.com/#/PRESENTATION_MANAGE/id=7f425e76-e73e-493c-bc86-0c15fcb18734?cid=4ebf4461-1830-4ec2-a9bd-64cc32e60499

Preview: http://preview.risevision.com/Viewer.html?type=presentation&id=7f425e76-e73e-493c-bc86-0c15fcb18734

Reproduction Steps

Created a folder in storage and uploaded 2 videos
Created placeholder, implemented video folder widget
Added RSS feed

[2015-10-07 19:40] rodrigopavezi commented on #92
@robb-price fix has been deployed. could you please verify? cheers

[2015-10-08 09:20] ByronDarlison commented on #93
@ezequielc can you review this defect and let me know your thoughts as to what is the cause here. Thanks!

[2015-10-08 12:50] robb-price commented on #92
@rodrigopavezi @alex-deaconu Confirmed that I can now add templates.

Issue is verified and closed.

[2015-10-08 12:50] #92 closed

[2015-10-08 17:53] ezequielc commented on #93
@ByronDarlison @sheadarlison In my tests, the videos were playing in loop, without calling the next placeholder item, unless I set duration.

I could not find anything wrong with the properties, and as the issue also happens in RVA, could it be something wrong with the Done event of the widget?
@stulees FYI

[2015-10-08 18:29] alanclayton commented on #93
@stulees can you double check that the Widget is sending the Done event? thanks

[2015-10-08 18:58] stulees commented on #93
@alanclayton @ezequielc I've reviewed this test presentation http://rva.risevision.com/#/PRESENTATION_MANAGE/id=fee9502d-b608-4581-b806-79b2ea111183?cid=f114ad26-949d-44b4-87e9-8528afc76ce4 in preview that Ezequiel created.

I'm not seeing any issue. The placeholder is rotating through the Text and Video Folder Widgets. The Video Folder widget instances are playing their videos and when the last v

[2015-10-08 19:43] alanclayton commented on #93
@stulees in what you reviewed did you confirm that PUD is working as expected? Can you get with @ezequielc and see why it is not working for him?

[2015-10-08 19:56] stulees commented on #93
@alanclayton The Widget definitely sends the Done event when it completes its last video. I'll check in with @ezequielc again to see if he needs anything.

[2015-10-09 03:47] ezequielc commented on #93
@stulees @alanclayton I can't replicate it anymore. I tried many times, with different folders and it is working properly.
@sheadarlison Can you replicate the issue? Thanks

[2015-10-09 12:07] sheadarlison commented on #93
@ezequielc @stulees @alanclayton I've had mixed results trying to replicate it. I've tried a few times and it hasn't happened again.

[2015-10-09 12:11] sheadarlison commented on #93
@ezequielc @stulees @alanclayton I'm going to close this until I can consistently replicate the issue

[2015-10-09 12:11] #93 closed

[2015-10-20 09:30] ByronDarlison opened #96 "Deprecated Content use old editor warning / loop"
Problem:

Opened Presentation with Gadgets / Items and received warning

Closed Presentation and opened new one

Received warning about deprecated content, this is a new presentation? hit cancel

Gave Presentation a name

Presentation name changed to "copy of undefined"

Looped here till it worked

Correction:

Open Presentation with Gadgets / Items and receive warning, be able to open anyways as

[2015-10-20 09:31] ByronDarlison commented on #96
@ezequielc can you take a look at the above that I discovered and let me know your thoughts. Thanks

[2015-10-20 12:55] ezequielc commented on #96
@ByronDarlison I could not replicate all the issues. I got the warning for a new presentation, but I could change the presentation name without any problem.

The current behavior of the the cancel button in the warning is to remain in the new editor. Your suggestion is to return to presentation list on cancel and add a third button to open in new editor, right?

Re: warning in a new presentation,

[2015-10-20 13:15] ByronDarlison commented on #96
@ezequielc

I think I misunderstood the functionality somehow or that loop I was in was messing things up. I reset cache but still had the same problem. Not sure...

No, can you queue it up and the top of the next sprint.

Let's pick it up after this sprint and see what we can find. No point context switching, let's stay focussed on current sprint. Thanks!

[2015-10-20 13:24] ezequielc commented on #96
@ByronDarlison I will add a card for next sprint. Thanks!

[2015-10-22 02:27] alanclayton opened #99 "Not all Widgets are appearing within in-app Store"
Image Widget, and possibly others, do not appear in the scrolling list of content within in-app Store, but it can be found if you search for it using the keyword "Image'.

[2015-10-22 02:44] alanclayton opened #100 "Can add Gadgets to a Presentation but no warning is provided telling me they can't be configured."
When adding Content you are able to select a Gadget from in-app Store and add to your Playlist, but you are never given a warning that they can only be configured from previous Editor.

Can we prevent Gadgets from appearing within in-app Store? If not, we should probably show a similar warning provided when you open an existing presentation that contains a gadget http://www.screencast.com/t/rFM2Xk

[2015-10-22 09:35] ByronDarlison commented on #99
@alanclayton good catch. This is very strange. @ezequielc any idea what is happening here? FYI @brianloosbrock @olegrise @alexey-rise

Thanks!

[2015-10-22 09:38] ByronDarlison commented on #100
@alanclayton @brianloosbrock @ezequielc @rodrigopavezi @ghislaineguerin couple of thoughts on this:

Is it possible to filter the list of products coming back from the store to just widgets? Not show gadgets at all? And if this is possible how much effort is this and who needs to be involved?

@alanclayton is implementing the above not necessary given that we will be removing deprecated content fr

[2015-10-22 11:26] rodrigopavezi commented on #99
@ByronDarlison currently, editor is just pulling the default number of entities from backend which is 40. We can increase this number to accommodate the amount of products we have but I suggest we implement something similar to the other entities such as presentation and display where it loads more entities when scrolling down. Thoughts? cheers

[2015-10-22 11:32] ByronDarlison commented on #99
@rodrigopavezi to make this simple and given there aren't that many products, can we pull them all in? Thanks

[2015-10-22 11:44] rodrigopavezi commented on #99
@ByronDarlison I think so. There is a limit of a 1000 entities per call to the index. It means we can retrieve maximum 1000 entities each time. If we had 2000 entities on the index we would have to make two search calls for retrieving all the data.  So, once we get more than 1000 products we will have to add something like the scrolling method I mentioned above. cheers

[2015-10-22 11:47] rodrigopavezi commented on #100
@ByronDarlison I had a look at the store api product endpoint I could not find a type attribute which could be used to differ products types such as widgets and gadgets. I will defer it to @olegrise. Would you know if that is possible? cheers

[2015-10-22 12:07] ByronDarlison commented on #99
@rodrigopavezi okay. Let's just raise it to 1,000 and that will solve this for a long time to come. Thanks

[2015-10-22 13:28] ByronDarlison commented on #100
@rodrigopavezi thanks for checking. @olegrise @brianloosbrock @alanclayton any thoughts as to how we should approach this? Thanks

[2015-10-22 13:43] olegrise commented on #99
Just keep an eye on performance. Loading a lot of entries may cause a delay and worsen UX.

[2015-10-22 13:43] alanclayton commented on #100
@ByronDarlison @brianloosbrock @olegrise there is some added complexity here in that all of Cenquies content have been build as Gadgets so even if we remove ours theirs would still be showing.

[2015-10-22 13:57] olegrise commented on #100
@ByronDarlison @rodrigopavezi @alanclayton @brianloosbrock There is nothing in the Product spreadsheet that could indicate if product is gadget or widget. One of the options we can go with is to add an extra column to the spreadsheet. Another option is to create a list of all gadget IDs and make Editor exclude them from the list (this can be done on API level I believe).

[2015-10-22 13:58] ByronDarlison commented on #100
@rodrigopavezi @ezequielc curious, could we use whatever mechanism we use to determine if there are gadgets in an existing presentation to show our warning to also filter the list coming from the store?

@olegrise good point re. gadget id's, something else to consider too.

@brianloosbrock @robb-price is anyone working with cenique on their gadgets and the need to convert them to widgets?

Thanks!

[2015-10-22 15:05] ezequielc commented on #100
@ByronDarlison We can't use the same strategy because for the warning message we check whether  the placeholder item's type is widget or not. This information comes from the loaded presentation.

But, RVA can detect it somehow. When adding Content, both widgets and gadgets are displayed and after selecting, RVA handles them in different ways. I will investigate further.

[2015-10-22 16:25] ezequielc commented on #100
@ByronDarlison I was looking at the new editor code, and after we select Content from store, we make a call to gadgets endpoint to get additional information. At that point, we receive a `gadgetType` property, that tells if it is a Gadget or Widget. We could add a warning message then, although it is a bit late as the user already selected the gadget. @rodrigopavezi Thoughts?

[2015-10-22 16:38] ByronDarlison commented on #100
@ezequielc is there anyway we can use that gadgets endpoint to actually filter what the user can select from? Is that doable?

Failing that, let's just add the warning after they select.

Thanks!

[2015-10-22 16:50] rodrigopavezi commented on #100
@ByronDarlison I believe we could not filter because we would have to call the gadget API for each store product. This would be a big overhead for the store product modal. @ezequielc thoughts? cheers

[2015-10-22 16:55] ezequielc commented on #100
@ByronDarlison @rodrigopavezi We can retrieve multiple gadgets at the same API call, so I think it can be done. Cheers

[2015-10-22 17:02] ByronDarlison commented on #100
@rodrigopavezi @ezequielc can you give me a points estimate for filtering versus error message? I want to make sure that we aren't investing too much on the filtering. Thanks

[2015-10-22 17:07] ezequielc commented on #100
@ByronDarlison I would give 1 point for the warning message and 2 for filtering. Cheers.

[2015-10-22 17:08] ByronDarlison commented on #100
@ezequielc let's just go for the warning for now. Thanks!

[2015-10-22 17:12] ezequielc commented on #100
@ByronDarlison Agreed. Cheers.

[2015-10-23 21:21] pcsandford opened #103 "Placeholder Issue - 1"
In the new editor, when a placeholder is renamed and saved a new placeholder with the name of 'ph0' is automatically generated. This placeholder has visible unchecked by default and even if this is checked before saving and publishing, any content will not show up in preview.

**Steps to replicate**

1. Add a new placeholder and change the default name from 'ph0' to 'BlueJays'
2. Save the template

[2015-10-23 21:36] pcsandford opened #104 "Placeholder Issue - 2"
When a placeholder is renamed with a name already assigned to another placeholder, no warning is given and the placeholder is duplicated with an empty playlist.

**Steps to Replicate**

1. Create new placeholder and name it 'BlueJays'. Add to it the video widget playlist item.
2. Create a new placeholder and name it 'Royals'. Add to it the text widget playlist item.
3. Rename the 'Royals' placehol

[2015-10-27 16:21] #96 closed

[2015-10-27 18:03] woneal1983 opened #109 "Widgets not Saving Settings"
On the youtube widget which works in the old editor is now not saving its settings in the new editor. The url will save because its using the additional params for the url. The other two items are not. The Params seemed to not be saving. I also checked the developer app for mac to be sure the widget is working and everything is correct and working according to it.

[2015-10-27 18:48] lapinnoir commented on #109
Have come across a similar issue this morning with the settings (ie Volume) for the YouTube Widget not saving/publishing on the new Editor, but working (ie save/publish) in RVA.  Have currently advised the user to switch to RVA for the time being.

[2015-10-27 18:54] rodrigopavezi commented on #100
@ghislaineguerin could you take a look at this issue. We need a warning message for when the user chooses a gadget from the store modal. What do you recommend? A popup or a message on the playlist item modal? cheers

[2015-10-27 18:55] ByronDarlison commented on #109
@ezequielc could you look at this one also with the defect card you have open. Thanks!

[2015-10-27 18:58] ezequielc commented on #109
@ByronDarlison Sure, we will add it to the card. Cheers

[2015-10-27 19:13] ghislaineguerin commented on #100
@rodrigopavezi We need to show a modal right after adding as the modal doesn't open automatically. Can we do both?

[2015-10-27 19:16] rodrigopavezi commented on #100
@ghislaineguerin this modal opens straight away after selecting a gadget from the store modal.
![screen shot 2015-10-09 at 3 23 11 pm](https://cloud.githubusercontent.com/assets/1659305/10769680/57df4fba-7cce-11e5-92f5-2a010ff03ecb.png)

Can't we just add a message here? cheers

[2015-10-27 19:16] ghislaineguerin commented on #100
@rodrigopavezi is that the right image?

[2015-10-27 19:18] rodrigopavezi commented on #100
@ghislaineguerin sorry wrong image :stuck_out_tongue_winking_eye:

[2015-10-27 19:25] ghislaineguerin commented on #100
@rodrigopavezi yes that's what I meant by playlist modal.

[2015-10-27 19:42] rodrigopavezi commented on #99
@olegrise I notice that our UI has already the incremental loading implemented. The problem is that the https://store-dot-rvacore-test.appspot.com/_ah/api/store/v0.01/products is not returning a cursor. Do you know how we could fix that? cheers

[2015-10-27 19:45] rodrigopavezi commented on #100
@ghislaineguerin strange, it should open. Did you try it on production? cheers

[2015-10-27 20:01] ghislaineguerin commented on #100
@rodrigopavezi I'll try.

[2015-10-27 20:06] ghislaineguerin commented on #100
@rodrigopavezi it worked. Let's only add on playlist modal.

[2015-10-27 20:18] rodrigopavezi commented on #100
@ghislaineguerin could you help with the design for this message box?
![screen shot 2015-10-27 at 6 18 27 pm](https://cloud.githubusercontent.com/assets/1659305/10771304/2a6c3832-7cd7-11e5-9692-22370578ecc8.png)

cheers

[2015-10-27 23:56] RV-Adrian opened #111 "Image size proportion in Editor Content modal"
Product images are squashed at lower resolutions, and action buttons shift position based on Product Title length.
Screenshot: https://goo.gl/3Y7Olt

[2015-10-28 00:23] ghislaineguerin commented on #100
@rodrigopavezi yes. is there a branch for this?

[2015-10-28 00:27] ghislaineguerin commented on #100
@rodrigopavezi here's the styling http://codepen.io/ghislaineguerin/pen/ZbaWrN

[2015-10-28 13:10] rodrigopavezi commented on #100
@ghislaineguerin awesome, thanks a mill.

[2015-10-28 13:22] olegrise commented on #99
@rodrigopavezi I created a [card](https://trello.com/c/4QD1gcGj/767-store-products-api-does-not-return-cursor-3) for this. We will try to include this in the next sprint which starts on November 4th.

[2015-10-28 13:28] rodrigopavezi commented on #99
@olegrise sounds good, @ByronDarlison FYI. cheers

[2015-10-28 15:15] rodrigopavezi commented on #100
@ghislaineguerin @ByronDarlison @ezequielc what do you think about this warning.

![screen shot 2015-10-28 at 12 27 41 pm](https://cloud.githubusercontent.com/assets/1659305/10792922/e9ceefa0-7d75-11e5-888f-4f9daf82a681.png)

cheers

[2015-10-28 15:21] ByronDarlison commented on #100
@ezequielc looks good. Instead of saying Gadget item can you just call it a "Gadget". And, can we give them the option to load the previous editor same way as the other warning? Is that doable? Thanks!

[2015-10-28 15:24] ghislaineguerin commented on #100
@rodrigopavezi can "previous version" be a link to old editor?

[2015-10-28 15:27] rodrigopavezi commented on #100
@ByronDarlison @ghislaineguerin sure, I will make the changes. cheers

[2015-10-28 16:15] rodrigopavezi commented on #100
@ByronDarlison @ghislaineguerin what about now?

![screen shot 2015-10-28 at 2 15 10 pm](https://cloud.githubusercontent.com/assets/1659305/10794907/58bb6512-7d7e-11e5-9c71-e7cd2df39c61.png)

cheers

[2015-10-28 17:01] ByronDarlison commented on #100
@rodrigopavezi awesome! Thanks

[2015-10-28 17:35] lapinnoir opened #113 "Placeholder issues in custom template"
User has custom template code added into the new Editor, with some elements created on the new Editor (ie Placeholders).  When the user is adding the Premium Rise Financial Table widget they are not able to view the widget data incl dummy data.

**What I've done to troubleshoot**

1. Edited the existing Placeholder by adding a new Playlist (the premium financial widget).   The change is not reflec

[2015-10-28 18:02] #100 closed

[2015-10-30 18:35] ezequielc opened #117 ""Copy of undefined" presentation name"
*Reproduction Steps*
  - Start a new presentation.
  - Type a presentation name in the presentation properties modal
  - Press Enter

*Expected Results*
The modal would be closed and the presentation would be renamed.

*Actual Results*
Modal closes and reopens and the presentation is renamed to "Copy of undefined".

[2015-10-30 22:33] lapinnoir opened #118 "Interoperability issue for Image Widget from Editor to RVA"
This may be the case for other deprecated content items. **Scenario for Image Widget.**

**Steps to duplicate:**
1. In the new Editor create a new Image Widget and link to Storage item.
2. User Saves. Receives prompt about moving to RVA due to Deprecated Content.
3. User is on RVA.
4. User Saves and Previews to see a blank Presentation.
5. User creates a new Image Widget in RVA and Saves.
6. User

[2015-10-30 22:35] lapinnoir opened #119 "Interoperability issue for HTML Widget from Editor to RVA"
This may be the case for other deprecated content items. Scenario for HTML Widget.

1. In the new Editor create a new HTML Widget and add simple H1 and P tag content.
2. User Saves. Receives prompt about moving to RVA due to Deprecated Content.
3. User is on RVA.
4. User Saves and Previews to see a blank Presentation.
5. User creates a new HTML Widget in RVA adding simple H1 and P tag content and

[2015-11-01 19:13] ghislaineguerin opened #120 "Color picker is transparent by default"
A lot of users are confused over background colors not showing for placeholders. Alpha value should be 1 by default

[2015-11-01 19:25] ghislaineguerin opened #121 "Widget settings is not showing"
Users are trying to modify templates and no settings are shown for the content available.

[2015-11-02 13:42] ghislaineguerin opened #122 "Search keywords give wrong results"
See attached, looking for "School" only returns banking templates.

<img width="1186" alt="screen shot 2015-11-02 at 9 40 42 am" src="https://cloud.githubusercontent.com/assets/845767/10883074/ec1887b6-8145-11e5-8d4a-1d2bc2aff2cd.png">

[2015-11-02 15:52] ezequielc commented on #119
@lapinnoir This issue was being caused due to the placeholder item type being "Widget" instead of "widget" in the new Editor. As we fixed the root cause, this issue is no longer valid. Thanks

[2015-11-02 15:53] #119 closed

[2015-11-02 15:53] ezequielc commented on #118
@lapinnoir This issue was being caused due to the placeholder item type being "Widget" instead of "widget" in the new Editor. As we fixed the root cause, this issue is no longer valid. Thanks

[2015-11-02 15:53] #118 closed

[2015-11-02 15:59] ezequielc commented on #121
@ghislaineguerin Fixed in https://github.com/Rise-Vision/editor-app/pull/123

[2015-11-02 15:59] #121 closed

[2015-11-02 16:01] ezequielc commented on #120
@ghislaineguerin Alpha is 1 by default currently for new placeholders. Could you detail where this issue is happening? Thanks

[2015-11-02 16:08] ezequielc commented on #122
@olegrise I think this is related to Store, right? Thanks

[2015-11-02 16:11] olegrise commented on #122
@ezequielc what did you expect to see?

[2015-11-02 16:12] olegrise commented on #122
Sorry @ezequielc , I should have asked @ghislaineguerin . @ghislaineguerin is there something specific you wanted to see in results and it wasn't there?

[2015-11-02 16:17] olegrise commented on #122
@ezequielc I just realized that search should probably return content items only. See how it's done in the Store https://github.com/Rise-Vision/store/blob/master/web/script/app.js#L383

[2015-11-02 17:04] ghislaineguerin commented on #122
@olegrise well, I'm wondering why those results came out if they don't have the word "school" assigned to them

[2015-11-02 17:04] ezequielc commented on #122
Thanks @olegrise . We are returning only Content when adding placeholder items. I think that search was in the Add from Template window and it is filtered by productTag = Templates. Cheers

[2015-11-02 17:05] ghislaineguerin opened #124 "Color picker wheel should show dropdown on click"

[2015-11-02 17:05] ghislaineguerin commented on #120
@ezequielc I saw recordings on fullstory with this issue, I will try to reproduce.

[2015-11-02 17:08] ghislaineguerin commented on #120
@ezequielc if you clcik on a transparent placeholder on any other presentation and then go back and add a placeholder they will all default to transparent alpha 0

[2015-11-02 17:11] ezequielc commented on #120
@ghislaineguerin Thanks. I will have a look.

[2015-11-02 18:38] olegrise commented on #122
@ghislaineguerin the word "school" is there in the description of the product.

[2015-11-02 19:25] ghislaineguerin commented on #122
@olegrise got it. thanks.

[2015-11-04 21:08] #109 closed

[2015-11-04 21:14] #99 closed

[2015-11-04 22:03] ezequielc commented on #113
@lapinnoir I could replicate the issue. It happens whenever we add the Rise Financial Table and don't configure it. As the widget is not configured, it won't appear in the presentation preview.
It happens not only with templates, but new presentations as well, both in the new Editor and RVA.
To make it work, you need to open the widget configuration and save.

I am not sure if it is an expected be

[2015-11-05 13:57] sheadarlison opened #128 "The artboard is bigger than the resolution"
In this GIF the artboard is set to 1920x1080 and the placeholder is set to 1920x1080 but the artboard looks about 20px bigger on the bottom and right side.

Presentation: https://editor.risevision.com/#/editor/workspace/fa375968-9202-4563-8e6b-e89bf3d3413f/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

GIF
![artboard-bigger-than-resolution](https://cloud.githubusercontent.com/assets/9273546/10970213/3

[2015-11-05 14:03] sheadarlison opened #129 "Images don't scale in editor"
If you set a placeholder or presentation background to an image and set it to scale it does not in the editor. However, it does in preview.

See here: https://editor.risevision.com/#/editor/workspace/2023f9dc-b2d0-4053-bf46-4abcfc969ea3/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

http://preview.risevision.com/?type=presentation&id=2023f9dc-b2d0-4053-bf46-4abcfc969ea3&showui=false

https://storage.g

[2015-11-05 14:07] sheadarlison opened #130 "Image preview in placeholder is broken"
If you set an image background for a placeholder the little preview is incredibly small.

https://editor.risevision.com/#/editor/workspace/2023f9dc-b2d0-4053-bf46-4abcfc969ea3/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

![image-preview-to-small](https://cloud.githubusercontent.com/assets/9273546/10970383/4a208fc2-839c-11e5-8764-7753ef074c9c.gif)
![screen shot 2015-11-05 at 9 04 33 am](https://cloud

[2015-11-05 15:59] sheadarlison opened #131 "In the in-app store of the new editor gadgets show up"
In the editor in-app store unsupported gadgets show up but cannot be added to the presentation and no error message is given to the user letting them know why.

![editor-gadgets-show-up](https://cloud.githubusercontent.com/assets/9273546/10973645/4713bf6a-83ac-11e5-8ad7-2095e4e4e795.gif)

[2015-11-05 16:33] alanclayton commented on #113
@ezequielc @lapinnoir  sounds like this is only occurring with the Financial Table Widget. If correct, sounds like this should actually be an issue logged in that Widgets repo.

[2015-11-05 16:52] ezequielc commented on #113
@alanclayton I agree.
@lapinnoir can you confirm and open the issue in the Widget repo if that is the case? Thanks

[2015-11-05 18:40] ghammer14 opened #132 "Weather Widget"
Regarding DC weather widget in the new editor,  it is failing to save the parameters and its value.

The data it is failing to save is written with the following code:

params = "?up_layout=" + selectedLayout.val();

Earlier when we saved this it was able to retrieve the value using prefs.getString("layout")

Now it is returning empty value.  We're seeing many of the settings (fonts, colors, menu'

[2015-11-05 20:33] #117 closed

[2015-11-06 10:45] ByronDarlison opened #135 "Spelling Mistake On Gadget Warning"
"support" should be supported and all button text should be Title Case. "Open with previous Editor" should be "Open With Previous Editor"

![image](https://cloud.githubusercontent.com/assets/4186315/10995261/8766600c-8449-11e5-97c1-53099c0c76a8.png)

[2015-11-06 15:35] ezequielc opened #136 "Can't add Clock gadget"
Reproduction Steps
 - Add a placeholder
 - Press "Add Playlist Item"
 - Search for Clock and Add it.

Expected Results
Playlist Item modal should appear and a message should be displayed warning that gadgets are not supported by the new Editor.

Actual Results
After clicking the Add button, no modal is shown and an error is thrown in the console.

[2015-11-06 15:44] lapinnoir commented on #113
@alanclayton @ezequielc Thanks I will open this issue in the Widget repo.

[2015-11-06 15:44] #113 closed

[2015-11-06 15:46] ezequielc commented on #136
@ByronDarlison The issue happens because this gadget is missing the gadgetType property when retrieved from Store. We use that property to differentiate widgets from gadgets.

Should we expected the missing property and fix it in Editor or would be better to fix it in Store?
Also, I tested other gadgets and they worked fine, but we should check if more gadgets have that property missing. Thanks

[2015-11-06 15:54] ezequielc commented on #122
@ghislaineguerin Should we close this issue? Thanks

[2015-11-06 16:40] ByronDarlison commented on #136
@ezequielc ah ha. Thanks! @brianloosbrock @robb-price can you take a look at this and let us know your thoughts. Thanks

[2015-11-06 18:25] ezequielc commented on #136
Photo Album has the same issue as reported at https://github.com/Rise-Vision/editor-app/issues/131 . Cheers

[2015-11-06 18:25] ezequielc commented on #131
Duplicate of https://github.com/Rise-Vision/editor-app/issues/136

[2015-11-06 18:25] #131 closed

[2015-11-06 18:27] alex-deaconu commented on #135
This is now corrected: http://screencast.com/t/hGkMFAWbqG1T

[2015-11-06 18:27] #135 closed

[2015-11-06 18:28] alex-deaconu commented on #104
@pcsandford this is now corrected in the Editor. Actually, the whole re-name process has been re-worked such that validation errors appear when trying to use a duplicate name (along with additional validation for invalid characters and blank name).

Please verify and close. Thanks!

[2015-11-06 18:29] alex-deaconu commented on #103
@pcsandford this is now fixed as well. Please see the description for #104 for details. Thanks!

[2015-11-06 23:38] brianloosbrock commented on #136
@ezequielc We'll look into it Monday. Thanks

[2015-11-09 15:56] alex-deaconu commented on #136
After some research, it appears the Issue is due to Gadgets that have not been saved in the RVA since we introduced the `gadgetType` field (with Widgets). These include the following Store products:
``
Text Scroller, Clock, Directory, Google Maps, Foursquare, Headline News, Photo Album
``

Saving the Gadget fixes the issue, so they all should be re-saved in the RVA and verified.

Thanks.

[2015-11-09 16:00] robb-price commented on #136
Doing this now.

Should be done in 10 minutes.

[2015-11-09 16:11] robb-price commented on #136
Fixed for:
Clock
Foursquare
Google Maps
Photo Album
Text Scroller
Directory
Headline News

[2015-11-09 16:11] #136 closed

[2015-11-10 17:28] alex-deaconu commented on #128
@sheadarlison this issue is now fixed. Please verify. Thanks!

[2015-11-10 17:30] alex-deaconu commented on #129
@sheadarlison this issue is now fixed. Please verify. Thanks!

[2015-11-10 17:32] #132 closed

[2015-11-10 17:42] alex-deaconu commented on #132
@ghammer14 thanks for logging this issue. It has been fixed at https://editor.risevision.com as of today; was wondering if you could verify and confirm that everything is working as expected at your end.
Cheers!

[2015-11-10 18:47] sheadarlison commented on #129
@alex-deaconu Looks good thanks

[2015-11-10 18:54] #129 closed

[2015-11-10 18:56] sheadarlison commented on #128
@alex-deaconu Looks good thanks

[2015-11-10 18:56] #128 closed

[2015-11-10 20:01] ghammer14 commented on #132
Thank you, yes I will check on this shortly!

Gene Hamm
Partner,  Director of Sales and Marketing

DIGICHIEF | Content Innovation
P: 859.619.4548
digichief.com <http://www.digichief.com/> |  linkedin <http://www.linkedin.com/in/genehamm> | twitter <https://twitter.com/DIGI_TWEETS> | facebook <https://www.facebook.com/digichief> | mailing list <http://visitor.r20.constantcontact.com/d.jsp?llr=voi7u

[2015-11-11 03:21] ghislaineguerin commented on #130
@alex-deaconu This can't be fixed by styles. The image container has bootstrap grid classes that must be removed.

[2015-11-11 16:02] ghislaineguerin opened #141 "Placeholder Negative Position"
Don't know what I did but anyway, I used only the GUI and not the HTM editor but I've one placeholder that is stuck in top left corner.
If I try to move the placeholder, I see that the top(Y) & left(X) parameters in the left hand size are changing but the placeholder itself stay stuck. If I save the page and preview it, the placeholder stay on top left corner.
I've investigated and I see that the

[2015-11-11 18:36] #122 closed

[2015-11-11 18:36] #103 closed

[2015-11-11 18:37] #104 closed

[2015-11-11 22:32] #124 closed

[2015-11-11 22:34] alex-deaconu commented on #130
@sheadarlison updated the image preview so the size is more consistent, across all resolutions (mobile, tablet, desktop). Please take a look and let us know what you think. Thanks.

[2015-11-12 14:50] alex-deaconu commented on #141
This is now fixed. Also notified the User in the community of this fix. Thanks.

[2015-11-12 14:50] #141 closed

[2015-11-12 16:37] ghislaineguerin commented on #111
@alex-deaconu is this merged?

[2015-11-12 16:38] alex-deaconu commented on #111
@ghislaineguerin yup!

[2015-11-12 20:14] RV-Adrian opened #144 "'Delete' key moves Editor back in browser history (behind modal)"
Also happens when there is no modal. Chrome/OSX

![issue](https://cloud.githubusercontent.com/assets/11826611/11129867/c850e618-894f-11e5-96ee-c06a9145b78f.gif)

[2015-11-20 15:43] ghammer14 opened #151 "Background Images In New Editor"
Used the new editor to edit and play our Digichief Weather Widget that was set up from the old editor.
I found the background image was not visible in its placeholder, but does display in preview.

Here is a video of my results.

https://www.dropbox.com/s/51xvntdjzcbl7yf/NewEditorDC-weather.mov?dl=0

[2015-11-25 01:23] robb-price opened #152 "You can't save a Template Presentation that is opened in the new Editor from a URL"
<b>How it works now:</b>
1. Using the <a href="https://store.risevision.com/product/111/U.S.%20Stocks%20-%20Real%20Time%20Streaming">StockTrak Real Time Stocks Widget Product</a>, open a copy of the Sample Presentation from the link at the bottom of the page (https://editor.risevision.com/#/editor/workspace/3dc8e3ae-e76a-4aaf-9f3c-fcc832987e73/fromCompanyId=f114ad26-949d-44b4-87e9-8528afc76ce4)
2.

[2015-11-26 21:22] ezequielc commented on #151
Thanks @ghammer14 ! We are going to investigate the issue.

[2015-11-26 21:31] ezequielc commented on #111
@ghislaineguerin @alex-deaconu Are we good to close this issue? Cheers

[2015-11-26 21:43] alex-deaconu commented on #111
@ezequielc good by me. Thanks.

[2015-11-26 21:50] ezequielc commented on #152
@robb-price the issue here is that the link is just opening the presentation instead of making a copy.

I updated the editor to support copying presentations, but the URL must be changed in Store. Links for copying presentations should be like this: https://editor.risevision.com/#/editor/workspace/new/?copyOf=b22bc4ad-4cfd-4de4-b86b-b3b5b6be1539

@olegrise Are you ok with changing the links? Thank

[2015-11-26 22:01] ezequielc commented on #130
@sheadarlison Are we good to close this issue? Thanks

[2015-11-27 14:58] olegrise commented on #152
@ezequielc sounds good.

@RV-Adrian could you take care of this?

[2015-11-27 15:07] olegrise commented on #152
@RV-Adrian please disregard my comment. The data is coming from the Products spreadsheet. @robb-price do you mind fixing the URLs in there?

[2015-11-27 15:49] robb-price commented on #152
@olegrise Yup, I will take care of this and close the issue once this is corrected.

[2015-11-27 15:57] olegrise commented on #152
Thanks @robb-price !

[2015-11-27 16:32] ezequielc commented on #152
@olegrise @robb-price Thanks!

[2015-11-27 16:59] robb-price commented on #152
@olegrise @ezequielc All Products with these links have been updated in Production.

Issue is closed.

[2015-11-27 16:59] #152 closed

[2015-11-27 20:42] #111 closed

[2015-12-01 10:44] RV-Adrian opened #155 "Storage button in Background Image settings is oversized"
Screenshot: http://goo.gl/kjgmW4

Happens in both the presentation properties modal and the sidebar

Adding `btn-widget-icon-storage` and removing the `img` child seems to set it right, but needs testing etc.

[2015-12-01 18:17] #155 closed

[2015-12-01 18:17] ezequielc commented on #155
Thanks @RV-Adrian !

[2015-12-01 18:42] RV-Adrian commented on #155
@ezequielc :+1:  !

[2015-12-10 16:47] hcs0 opened #160 "Cannot Delete Presentation Background"
**How to Replicate**
1. Create new presentation and add a background image via URL, Save and Publish
2. Delete URL/Unselect 'Use Image', Save and Publish
4. Background reappears again.

**What to Expect**
Background image should be deleted

[2015-12-18 04:37] pcsandford opened #162 "Sizing placeholders with % - effect on widgets"
*Not sure if technically a bug or enhancement, but marked as bug as result was not as expected*

Shea and I were looking to build a slideshow template that would be responsive. I set up a placeholder and changed the width to 70%, and allowed for a margin of 15% each side, expecting this to shrink according to screen size. However, setting a % rather than px size for the placeholder appears to redu

[2015-12-18 14:12] sheadarlison opened #163 "Can't access HTML view"
How to Replicate
Create a new presentation and add a placeholders create media queries for placeholders. Click save go to design view and go back to HTML you'll be presented with a white background.

I tried refreshing, going back to the presentations list, but it just stays with a white background.

You can see it here: https://apps.risevision.com/editor/workspace/ff3ca153-c609-4fa6-9cf9-4c2b1934

[2015-12-18 14:13] sheadarlison commented on #163
![strange-editor-behaviour](https://cloud.githubusercontent.com/assets/9273546/11898673/a5fc869c-a567-11e5-830a-245b5322b95b.gif)

[2015-12-29 15:18] #130 closed

[2016-01-06 17:40] olegrise commented on #152
@robb-price @ezequielc it looks like there is still a small problem with copying templates: [video](https://drive.google.com/file/d/0Bzdv7xpveuRlZkhQT3lNeTQzSk0/view?usp=sharing)

[2016-01-06 17:49] ezequielc commented on #152
Thanks @olegrise I will have a look. Cheers

[2016-01-06 20:03] ezequielc commented on #152
@olegrise We could not replicate the issue. Does it still happen if you clear the cache? Thanks

[2016-01-06 20:33] olegrise commented on #152
@ezequielc I'm seeing the same thing in Chrome incognito mode. I'm on Mac. The strange thing is that when I resize browser (from/to full screen), the spinner disappears.

[2016-01-06 20:35] ezequielc commented on #152
Thanks @olegrise I will investigate further.

[2016-02-02 16:24] alex-deaconu commented on #163
This issue is now fixed. Closing. Thanks.

[2016-02-02 16:24] #163 closed

[2016-02-02 16:26] alex-deaconu commented on #120
Fixed in the PR referenced above. Closing. Thanks.

[2016-02-02 16:26] #120 closed

[2016-02-02 21:34] alex-deaconu commented on #160
This issue has been fixed. Closing. Thanks.

[2016-02-02 21:34] #160 closed

[2016-02-02 21:48] alex-deaconu commented on #144
Moved to rise-vision-apps https://github.com/Rise-Vision/rise-vision-apps/issues/69. Closing. Thanks.

[2016-02-02 21:48] #144 closed

[2016-02-02 21:50] alex-deaconu commented on #162
Copied to rise-vision-apps https://github.com/Rise-Vision/rise-vision-apps/issues/70. Closing. Thanks.

[2016-02-02 21:50] #162 closed

[2016-02-02 21:57] ezequielc commented on #151
@ghammer14 Apologies for taking so long to reply, I missed this issue somehow.
From what I can see, your presentation does not have a background.
There is a placeholder with an Image Widget that covers the whole area and works like a background.
At the time of your issue, Editor was not able to show images from Image Widget, you could only see them in Preview.
Currently, Editor is able to show ima

[2016-02-02 21:57] #151 closed

[2016-02-17 21:20] btfrise opened #164 "Pasting a spreadsheet into the text widget causes presentation to go blank and inaccessible in editor.risevision.com"
**How to recreate**
1. Using editor.risevision.com create a new presentation
2. Within that presentation, add 3 placeholders.
3. In two of those placeholders, add content of any type (I've used images for simplicity).
4. In the third placeholder, add the Text widget.
5. In a Google sheet that contains content, select a range of cells and copy.
6. Paste this into the Text Widget
7. Save presentatio

[2016-02-17 21:21] btfrise commented on #164
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;NGCB3qZ0&#x2F;1484-2-problem-pasting-from-a-spreadsheet-into-the-text-widget-then-saving-presentation-causes-the-presentation-content-to-be-removed"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (2) Problem - Pasting from a spreadsheet into the text widget, then saving presentation caus

[2016-02-17 21:28] ByronDarlison commented on #164
@btfrise all apps have been merged. This issue should be added to https://github.com/Rise-Vision/rise-vision-apps @ezequielc @alex-deaconu do you concur? And, can we make correcting this issue a priority? Thanks!

[2016-02-17 21:31] alex-deaconu commented on #164
@btfrise yes as @ByronDarlison mentioned, new issues should be logged in that repository. Thanks.

[2016-02-17 21:32] ezequielc commented on #164
@ByronDarlison @btfrise Agreed. We can work in it next. Thanks!

[2016-02-17 21:38] btfrise commented on #164
Got it, sorry guys, I'll open in the correct repo.

[2016-02-17 21:38] #164 closed

[2016-02-18 17:43] alanclayton opened #165 "Text Widget not being rendered in Editor"
Add the Text Widget to an empty Placeholder, add some text then save. Notice the Text is not being rendered in Editor. As long as the Text Widget is the first item in the Playlist, the text should be rendered.

[2016-02-18 17:55] ezequielc commented on #165
@alanclayton We merged the apps, so this repository is no longer in use. Any issues should be added to https://github.com/Rise-Vision/rise-vision-apps/. I will close the issue here and add it there. Thanks

[2016-02-18 17:55] #165 closed